.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px; /*тут 18, как по макету*/
  line-height: 1.67;
  margin: 0 0 24px 0;
}
.place__paragraph:last-of-type{
  margin: 0;
}

@media screen and (max-width: 768px){
  .place__paragraph {
    font-size: 16px; /*Тут 16, как по макету. Вроде всё правильно. В Фигме меняется размер на 768px. Не понимаю, почему это дубляж.*/
    line-height: 1.62;
  }
}
