@import url(./__text/cover__text.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__background/cover__background.css);
.cover {
  min-height: 740px;
  max-width: 1184px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 92px;
}

@media screen and (max-width: 1024px){
  .cover {
    width: 100%;
    min-height: 640px;
  }
}
