@import url(../vendor/normalize.css);
@import url(../vendor/fonts/InterWeb/inter.css);
@import url(../blocks/wrapper/wrapper.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url();
@import url();
@import url();


.places {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 984px;
  width: 100%;
  padding-top: 98px;
}
.place {
  display: grid;
  grid-template-columns: repeat(2, fit-content);
  grid-template-rows: fit-content 1fr;
  grid-template-areas:
  "title website"
  "photo text";
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin: auto;
  width: 100%;
  padding-bottom: 88px;
}

.place:last-of-type{
  padding-bottom: 0;
}

.place__title {
  grid-area: title;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  max-width: 460px;
  margin: 0;
}
.place__image {
  grid-area: photo;
  max-width: 460px;
  max-height: 460px;
}
.place__website {
  grid-area: website;
  margin: 0;
  align-self: flex-end;
  padding-bottom: 5px;
}
.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  margin: 0 0 11px 0;
}
.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 12px 0 5px 0;
  transition: opacity 0.5s ease 0.1s;
}
.place__link:hover{
  opacity: 0.8;
}
.place__paragraphs {
  grid-area: text;
}
.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  /* or 167% */
  margin: 0 0 24px 0;
}
.place__paragraph:last-of-type{
  margin: 0;
}
.cover {
  display: flex;
  flex-flow: column;
  position: relative;
  min-height: 740px;
  max-width: 1184px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 92px;
}
.cover__text{
  margin: auto;
  position: absolute;
  z-index: 3;
}
.cover__title {
  margin: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  /* or 106% */
  text-align: center;
  max-width: 560px;
}
.cover__subtitle {
  padding-top: 32px;
  margin: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  max-width: 360px;
  width: 100%;
}
.cover__overlay {
  width: 100%;
  min-height: 740px;
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  z-index: 1;
  margin: auto;
  top:0;
  left:0;
  transition: opacity 0.5s ease 0.1s;
  opacity: 0.3;
}
.cover:hover .cover__overlay{
  opacity: 0.8;
}
.cover__background {
  width: 100%;
  min-height: 740px;
  display: block;
  background: url(../images/cover-trains.jpg) 100% 100% no-repeat;;
  background-size: cover;
  z-index: 0;
  margin:auto;
  top:0;
  left:0;
  z-index: 0;
}
.footer {
  display: flex;
  margin: auto;
  width: calc(1184/1280*100%);
  justify-content: space-between;
  object-position: center;
  padding: 96px 0 24px 0
}
.footer__column {
}
.footer__column-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 18px;
  transition: opacity 0.5s ease 0.1s;
}
.footer__link:hover{
  opacity: 0.8;
}

.footer__copyright {
  margin: 0;
}
