@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__paragraphs/place__paragraphs.css);
@import url(./__paragraph/place__paragraph.css);
.place {
  display: grid;
  grid-template-columns: minmax(400px, 460px) minmax(400px, 484px);
  grid-template-areas:
  "title website"
  "photo text";
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin: auto;
  width: 100%;
  padding-bottom: 88px;
}
.place:last-of-type{
  padding-bottom: 0;
}


@media screen and (max-width: 1024px){
  .place {
    grid-template-columns: repeat(2, minmax(340px, 440px));
    grid-column-gap: 32px;
    grid-row-gap: 39px;
  }
}
@media screen and (max-width: 768px){
  .place {
    grid-template-columns: minmax(280px, 340px) minmax(280px, 370px);
    grid-column-gap: 28px;
  }
}
@media screen and (max-width: 600px){
  .place {
    display: block;
    padding-bottom: 54px;
  }
}
@media screen and (max-width: 320px){
  .place {
    width: 320px;
  }
}

